### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#You can call and use the .head functions to test the individual variables, for the sake of cleanliness, removed the code for this
schoolTotal=school_data["school_name"].count()

studentTotal = student_data["student_name"].count()


budgetTotal = school_data["budget"].sum()


mathAvg=student_data[("math_score")].mean()


readingAvg = student_data[("reading_score")].mean()
readingAvg

schoolAvgScore = ((mathAvg +readingAvg)/2)


mathPassPerc = (school_data_complete["math_score"]>70).sum() / school_data_complete["math_score"].count() *100


readingPassPerc = (school_data_complete["reading_score"]>70).sum() / school_data_complete["reading_score"].count() *100

#Turning out the results in first iteration
districtSummary = pd.DataFrame({"Total Schools":[schoolTotal],"Total Students":[studentTotal],"Total Budget":[budgetTotal],"Average Math Score":[mathAvg],"Average Reading Score":[readingAvg],"% Passing Math":[mathPassPerc],
                                "% Passing Reading":[readingPassPerc],"% Overall Pass Rate":[schoolAvgScore]})

#then transferred it over here to help map and clean/format the data
districtSummaryDF = pd.DataFrame(districtSummary, columns=["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Pass Rate"])


districtSummaryDF["Total Students"]=districtSummaryDF["Total Students"].map("{:,}".format)
districtSummaryDF["Total Budget"]=districtSummaryDF["Total Budget"].map("{:,}".format)
districtSummaryDF["Average Math Score"]=districtSummaryDF["Average Math Score"].map("{:,.2f}".format)

districtSummaryDF.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate
0,15,"39,170","24,649,428",78.99,81.87784,72.392137,82.971662,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
#Setting index to be tied to the name and its type, and then pulling other info about the schools such as 
schoolType = school_data.set_index(["school_name"])["type"]
studentsPerSchool = school_data_complete["school_name"].value_counts()
schoolBudget = school_data_complete.groupby(["school_name"])["budget"].mean()
perstudentBudget =schoolBudget/studentsPerSchool

#score average of math and reading by school plus overall passing rate of the two subjects
mathAvgPerSchool=school_data_complete.groupby(["school_name"])["reading_score"].mean()
passMathScore=school_data_complete.loc[school_data_complete["math_score"]>=70]
mathScoreGroup = passMathScore["school_name"].value_counts()
percentMathPass=mathScoreGroup/studentsPerSchool*100

readingAvgPerSchool=school_data_complete.groupby(["school_name"])["reading_score"].mean()
passReadingScore = school_data_complete.loc[school_data_complete["reading_score"]>=70]
readingScoreGroup = passReadingScore["school_name"].value_counts()
percentReadingPass =readingScoreGroup/studentsPerSchool*100

PassingOverallScore = percentMathPass+percentReadingPass/studentsPerSchool
#adds the new variables we made
schoolSummaryDF = pd.DataFrame({"School type":schoolType,"Total Students":studentsPerSchool,"Total School budget":schoolBudget,"Per Student Budget":perstudentBudget,"Average Math Score":mathAvgPerSchool,
                                "Average Reading Score":readingAvgPerSchool,"% Passing Math":percentMathPass,"% Passing Reading":percentReadingPass,"% Overall Passing Rate":PassingOverallScore})
schoolSummaryDF.head(15)

,School type,Total Students,Total School budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,81.033963,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411,639.0,81.158020,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916,644.0,80.746258,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500,625.0,83.816757,83.816757,93.392371,97.138965,93.458542
Hernandez High School,District,4635,3022020,652.0,80.934412,80.934412,66.752967,80.862999,66.770413
Holden High School,Charter,427,248087,581.0,83.814988,83.814988,92.505855,96.252927,92.731271
Huang High School,District,2917,1910635,655.0,81.182722,81.182722,65.683922,81.316421,65.711799
Johnson High School,District,4761,3094650,650.0,80.966394,80.966394,66.057551,81.222432,66.074611
Pena High School,Charter,962,585858,609.0,84.044699,84.044699,94.594595,95.945946,94.694331
Rodriguez High School,District,3999,2547363,637.0,80.744686,80.744686,66.366592,80.220055,66.386652
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.725724,93.867121,95.854628,93.921553
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.848930,93.272171,97.308869,93.331687
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.989488,93.867718,96.539641,93.910004
Wright High School,Charter,1800,1049400,583.0,83.955000,83.955000,93.333333,96.611111,93.387006

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
#using the sortvalue function to show the top 5 results
topSchoolDF = schoolSummaryDF.sort_values(["% Passing Math","% Passing Reading","% Overall Passing Rate"],ascending=False)
topSchoolDF.head()

,School type,Total Students,Total School budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Pena High School,Charter,962,585858,609.0,84.044699,84.044699,94.594595,95.945946,94.694331
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.975780,94.133477,97.039828,94.185705
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.989488,93.867718,96.539641,93.910004
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.725724,93.867121,95.854628,93.921553
Griffin High School,Charter,1468,917500,625.0,83.816757,83.816757,93.392371,97.138965,93.458542

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
#using the  sortvalue function to call in the worst schools 
bottomSchoolDF = schoolSummaryDF.sort_values("% Overall Passing Rate")
bottomSchoolDF.head()

,School type,Total Students,Total School budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,1910635,655.0,81.182722,81.182722,65.683922,81.316421,65.711799
Figueroa High School,District,2949,1884411,639.0,81.158020,81.158020,65.988471,80.739234,66.015849
Johnson High School,District,4761,3094650,650.0,80.966394,80.966394,66.057551,81.222432,66.074611
Rodriguez High School,District,3999,2547363,637.0,80.744686,80.744686,66.366592,80.220055,66.386652
Bailey High School,District,4976,3124928,628.0,81.033963,81.033963,66.680064,81.933280,66.696530

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#grabbing the grade with loc and grouping those students by their school name and math score, then becomes its own dataframe with tailored results
grade9MathScores=student_data.loc[student_data["grade"]=="9th"].groupby(["school_name"])["math_score"].mean()
grade10MathScores=student_data.loc[student_data["grade"]=="10th"].groupby(["school_name"])["math_score"].mean()
grade11MathScores=student_data.loc[student_data["grade"]=="11th"].groupby(["school_name"])["math_score"].mean()
grade12MathScores=student_data.loc[student_data["grade"]=="12th"].groupby(["school_name"])["math_score"].mean()

mathByGradeDF = pd.DataFrame({"9th":grade9MathScores,"10th":grade10MathScores, "11th":grade11MathScores,"12th":grade12MathScores})
mathByGradeDF

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#grabbing the grade with loc and grouping those students by their school name and reading score, then becomes its own dataframe with tailored results
grade9ReadingScores=student_data.loc[student_data["grade"]=="9th"].groupby(["school_name"])["reading_score"].mean()
grade10ReadingScores=student_data.loc[student_data["grade"]=="10th"].groupby(["school_name"])["reading_score"].mean()
grade11ReadingScores=student_data.loc[student_data["grade"]=="11th"].groupby(["school_name"])["reading_score"].mean()
grade12ReadingScores=student_data.loc[student_data["grade"]=="12th"].groupby(["school_name"])["reading_score"].mean()

readingByGradeDF = pd.DataFrame({"9th":grade9ReadingScores,"10th":grade10ReadingScores, "11th":grade11ReadingScores,"12th":grade12ReadingScores})
readingByGradeDF

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [41]:
#declaring the size and group names based off of values
budgetBin = [0, 585, 615, 645, 680]
budgetGroupNames = ["<$585", "$585-630", "$630-645", "$645-680"]

#adding in a new column that we just made using bins and their respective group name
schoolSummaryDF["Spending Ranges (Per Student)"] = pd.cut(schoolSummaryDF["Total School budget"]/schoolSummaryDF["Total Students"],budgetBin, labels=budgetGroupNames)


schoolScoresDF=schoolSummaryDF.drop(columns=["Total Students","Total School budget","School type","Per Student Budget"])
schoolScoresSortedDF = schoolScoresDF.sort_values(["% Overall Passing Rate"],ascending=False)
schoolScoresSortedDF.head(15)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
Pena High School,84.044699,84.044699,94.594595,95.945946,94.694331,$585-630
Cabrera High School,83.975780,83.975780,94.133477,97.039828,94.185705,<$585
Shelton High School,83.725724,83.725724,93.867121,95.854628,93.921553,$585-630
Wilson High School,83.989488,83.989488,93.867718,96.539641,93.910004,<$585
Griffin High School,83.816757,83.816757,93.392371,97.138965,93.458542,$630-645
Wright High School,83.955000,83.955000,93.333333,96.611111,93.387006,<$585
Thomas High School,83.848930,83.848930,93.272171,97.308869,93.331687,$630-645
Holden High School,83.814988,83.814988,92.505855,96.252927,92.731271,<$585
Ford High School,80.746258,80.746258,68.309602,79.299014,68.338554,$630-645
Hernandez High School,80.934412,80.934412,66.752967,80.862999,66.770413,$645-680
Bailey High School,81.033963,81.033963,66.680064,81.933280,66.696530,$630-645
Rodriguez High School,80.744686,80.744686,66.366592,80.220055,66.386652,$630-645
Johnson High School,80.966394,80.966394,66.057551,81.222432,66.074611,$645-680
Figueroa High School,81.158020,81.158020,65.988471,80.739234,66.015849,$630-645
Huang High School,81.182722,81.182722,65.683922,81.316421,65.711799,$645-680

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
#making a bin to put the schools in a size  metric and then adds the new column to the dataframe
popBin = [0,1000, 2000, 5000]
popGroupNames = ["Small(<1000)", "Medium(1000-2000)", "Large (2000-5000)"]

schoolScoresDF["School Size"] = pd.cut(schoolSummaryDF["Total Students"],popBin, labels=popGroupNames)

schoolScoresDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student),School Size
Bailey High School,81.033963,81.033963,66.680064,81.933280,66.696530,$630-645,Large (2000-5000)
Cabrera High School,83.975780,83.975780,94.133477,97.039828,94.185705,<$585,Medium(1000-2000)
Figueroa High School,81.158020,81.158020,65.988471,80.739234,66.015849,$630-645,Large (2000-5000)
Ford High School,80.746258,80.746258,68.309602,79.299014,68.338554,$630-645,Large (2000-5000)
Griffin High School,83.816757,83.816757,93.392371,97.138965,93.458542,$630-645,Medium(1000-2000)
Hernandez High School,80.934412,80.934412,66.752967,80.862999,66.770413,$645-680,Large (2000-5000)
Holden High School,83.814988,83.814988,92.505855,96.252927,92.731271,<$585,Small(<1000)
Huang High School,81.182722,81.182722,65.683922,81.316421,65.711799,$645-680,Large (2000-5000)
Johnson High School,80.966394,80.966394,66.057551,81.222432,66.074611,$645-680,Large (2000-5000)
Pena High School,84.044699,84.044699,94.594595,95.945946,94.694331,$585-630,Small(<1000)
Rodriguez High School,80.744686,80.744686,66.366592,80.220055,66.386652,$630-645,Large (2000-5000)
Shelton High School,83.725724,83.725724,93.867121,95.854628,93.921553,$585-630,Medium(1000-2000)
Thomas High School,83.848930,83.848930,93.272171,97.308869,93.331687,$630-645,Medium(1000-2000)
Wilson High School,83.989488,83.989488,93.867718,96.539641,93.910004,<$585,Large (2000-5000)
Wright High School,83.955000,83.955000,93.333333,96.611111,93.387006,<$585,Medium(1000-2000)

## Scores by School Type

* Perform the same operations as above, based on school type

In [24]:
#Drops columns from the schoolsummaryDF annd then sorts by the overall passing rate so we can get a clearer picture 
schoolScoresByType = schoolSummaryDF.drop (columns=["Total Students","Total School budget", "Per Student Budget"])
schoolScoresByTypeDF= schoolScoresByType.sort_values(["% Overall Passing Rate"],ascending=False)

schoolScoresByTypeDF.head(15)

,School type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
Pena High School,Charter,84.044699,84.044699,94.594595,95.945946,94.694331,$585-630
Cabrera High School,Charter,83.975780,83.975780,94.133477,97.039828,94.185705,<$585
Shelton High School,Charter,83.725724,83.725724,93.867121,95.854628,93.921553,$585-630
Wilson High School,Charter,83.989488,83.989488,93.867718,96.539641,93.910004,<$585
Griffin High School,Charter,83.816757,83.816757,93.392371,97.138965,93.458542,$630-645
Wright High School,Charter,83.955000,83.955000,93.333333,96.611111,93.387006,<$585
Thomas High School,Charter,83.848930,83.848930,93.272171,97.308869,93.331687,$630-645
Holden High School,Charter,83.814988,83.814988,92.505855,96.252927,92.731271,<$585
Ford High School,District,80.746258,80.746258,68.309602,79.299014,68.338554,$630-645
Hernandez High School,District,80.934412,80.934412,66.752967,80.862999,66.770413,$645-680
Bailey High School,District,81.033963,81.033963,66.680064,81.933280,66.696530,$630-645
Rodriguez High School,District,80.744686,80.744686,66.366592,80.220055,66.386652,$630-645
Johnson High School,District,80.966394,80.966394,66.057551,81.222432,66.074611,$645-680
Figueroa High School,District,81.158020,81.158020,65.988471,80.739234,66.015849,$630-645
Huang High School,District,81.182722,81.182722,65.683922,81.316421,65.711799,$645-680